.lists {
  list-style: none;
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  .list__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    .list__wrapper__name {
      font-size: 1em;
      cursor: pointer;
      justify-content: center;
      margin-left: 2rem;
      width: 300px;
      overflow-wrap: break-word;

      .list__wrapper__input {
        width: 0;
        height: 0;
        display: none;

        &:checked {
          & ~ .list__wrapper__checkbox::after {
            display: block;
          }
        }
      }

      .list__wrapper__text {
        position: relative;
        .list__wrapper__completed {
          position: absolute;
          left: 0;
          bottom: -15px;
          font-size: 0.7em;
        }
      }

      .list__wrapper__checkbox::after {
        content: "";
        display: none;
        position: absolute;
        top: 2px;
        left: 6px;
        right: 2px;
        bottom: 2px;
        border-right: 2px solid #575767;
        border-bottom: 2px solid #575767;
        transform: rotate(45deg) translateX(-2px);
      }

      .list__wrapper__checkbox {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: linear-gradient(180deg, #fcfcfc 0%, #f8f8f8 100%);
        border: 2px solid #dadada;
        border-radius: 6px;
        left: 0rem;
        top: 0;
      }
    }
  }

  .list__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list__button {
      color: white;
      background-color: #c66251;
      border: none;
      outline: none;
      padding: .2rem .5rem;
    }
  }
}
