@use '../modules/header';
@use '../modules/boxlist';
@use '../modules/list';
@use '../modules/modals';

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 475px;
  height: 100vh;
  padding: 1rem;
  margin: auto;
  background-color: #f8f8f8;
  color: #141419;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;

  .container__button {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
    font-size: 2em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .container__button--add {
    bottom: 2rem;
    right: 2rem;
    background-color: #515cc6;
  }

  @media (max-width: 475px) {
    & {
      width: 100vw;
    }
  }
}
